/* Page element*/

:root {
    --hover-color: #b15fcc;
}


.page{
    width: 100%

}

.content{
    position: relative;
    width: 100%;
    
}

.content>div {
    position: relative;
    z-index: 1;
}

.home-page-menu .container{
    background-color: transparent;
}




.container{
    background-color: #fff;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

*, :after, :before {
    box-sizing: border-box;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}


/* Navbar */
.home-page-menu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 12em;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent);
    transition: background-image .3s ease;
    filter: dropshadow(0 0 2em transparent);
    transition: filter 0.3s ease;

}

.home-page-menu:hover {
    filter: drop-shadow(0 0 2em #000000e4);
    transition: filter 0.3s ease;
}

.content-inner{
    display: flex;
    justify-content: space-between;
    padding: 0;

}


.menu-wrap{
    align-self: flex-start;
    display: flex;
    font-family: "Gilam SemiBold",sans-serif;
    font-size: 16px;
    margin-top: 40px;
    text-transform: uppercase;
    margin-right: 100px;
}

.menu_logo{
    height: 152px;
    margin: 10px 0 0;
    position: relative;
    width: 92px;
}

.wrap-logo{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
}

.wrap-logo:hover{
    /*move it slightly */
    transform: translate(-3px, -3px);
    transition: transform .3s ease;
}







.menu{
    display: flex;
}

.menu-item{
    margin-right: 50px;
}
.menu-item:hover{
    cursor: pointer;
}


.menu-right {
    display: flex;
    margin-left: 11rem;
}

.menu-trigger-line{
    background: #fff;
    height: 2px;
    width: 42px;
}

.menu-trigger-line:last-child{
    margin-top: 10px;
    transition: width .3s ease;
    width: 21px;
}




.menu-trigger:hover .menu-trigger-line:last-child {
    width: 42px
        

}



.menu-trigger{
    display: flex;
    flex-direction: column;
}

.menu__link:before {
    background-color: var(--hover-color);
    bottom: -6px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: width .3s ease;
    width: 0
}




.menu-item.external-link a {
    align-items: center;
    display: flex
}

.menu__link {
    color: #fff;
    position: relative
}
.menu-item:hover .menu__link:before {
    width: 100%
}


.menu-item.external-link a:after {
    background-image: url(./assets/external-link.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 12px
}

.menu-item.external-link:hover .menu__link:before {
    width: calc(100% - 12px)
}

.menu__item:hover .menu__link:before {
    width: 100%
}







/* secondary menu (appearing from hamburger) */
.menu-layer__top .menu__logo {
    left: 0;
    position: absolute;
    top: 5px
}

.menu-layer__top.menu__wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0
}

.menu-layer__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 115px;
    position: relative
}

.menu-layer__body:after,.menu-layer__body:before {
    background: hsla(0,0%,100%,.15);
    content: "";
    position: absolute
}

.menu-layer__body:before {
    bottom: -1px;
    height: 1px;
    left: -30px;
    width: calc(100% + 60px)
}

.menu-layer__body:after {
    height: 100%;
    left: 50%;
    top: 0;
    width: 1px
}

.menu-layer__close {
    border: none;
    cursor: pointer;
    height: 28px;
    padding: 0;
    width: 28px
}

.menu-layer__close svg {
    height: 100%;
    width: 100%
}

.menu-layer__close svg g {
    stroke: #fff
}


.opened{
    background-color: transparent
}

.opened .menu-layer__cover{
    opacity: 1;
    pointer-events: all;
}

.menu-layer__cover{
    background: hsla(0,0%,7%,.65);
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 1000; /* Increase the z-index to ensure the menu covers content */
}

.opened .menu-layer{
    transform: translateY(0);
}

.menu-layer{
    background: #272727;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform .5s ease;
    width: 100%;
    z-index: 100;
}

.menu-layer .container {
    background: transparent;
    padding: 0 30px;
}
    

.menu-layer__top{
    align-items: center;
                justify-content: flex-end;
                padding: 30px;
                position: relative
}

.menu-layer__top:before{
    background: hsla(0,0%,100%,.15);
    bottom: 0;
    content: "";
    height: 1px;
    left: -30px;
    position: absolute;
    width: calc(100% + 60px);

}


@media screen and (min-width: 1452px) {
    .menu-layer{
    height: 570px;
}
}



@media screen and (min-width: 1170px) {
.menu-layer{
    height: 500px;
}
}

@media screen and (min-width: 970px) {
.menu-layer {
    height: 450px;
}
.menu-layer__body:after,.menu-layer__body:before {
    content: none
}

.header.games-header {
    padding-top: calc(10rem + 70px)
}



}




a{
    color: white;
}




/* Hero Section (Upper) */

.hero{
    top: 0;
    height: 45em;
    background-image: url("./assets/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 1;
    text-align: left;

}

.text-row{
    translate: none; 
    rotate: none; scale: none; transform: translate(0px, -101%) rotate(0.001deg);
    z-index: 100;
    text-align: left;

    
}

.-decor {
    color: #ffc803;
    display: block;
    font-family: "Gilam SemiBold",sans-serif;
    font-size: 16px;
    letter-spacing: 4.5px;
    /*margin-bottom: 15px;*/
    text-transform: uppercase;
    z-index: 11;

}

.-decor--gray {
    color: #9d9d9d;
}

.slide{
    background-color: transparent;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.hero-content{
        bottom: 250px;
        left: 40px;
        pointer-events: none;
        position: absolute;
        width: calc(100% - 80px);
        z-index: 1;
        opacity: 1;
        pointer-events: auto;
    
}

.animation-row{
    /*display: block;
    po  sition: relative;*/
    overflow: hidden;
}

.animation-row, .animation-row>span{
    display: block;
    position: relative;
}

.games span{
    translate: none; rotate: none; scale: none; transform: translate(0px, 0%) rotate(0.001deg);
}
h1{
    margin-top: 0;
    font-family: "Gilam Bold",sans-serif;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}




.hero-sub-header{
    font-size: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    color:#cc84e4

}

a {
    font-family: "Gilam SemiBold",sans-serif;  
}

.hero-content .animation-row .-line, .hero-content .animation-row-title {
    margin-left: -35px;
    padding-left: 35px;
}

.hero-content .animation-row .-line:before {
    left: 0;
}


.hero-content h1{
    color: #fff;
    opacity: 1;
}

.-line:before{
    background-color: #ffe177;
    content: "";
    height: 100%;
    left: -35px;
    position: absolute;
    top: 0;
    width: 2px;
}



@media screen and (min-width: 970px) {
.hero-content {
    bottom: auto;
    margin-left: 10.5rem;
    padding-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52rem;
    
}
}




@media screen and (min-width: 1170px) {
.container {
    width: 1170px;
}
}




@media screen and (min-width: 970px) {
.container{
    overflow-x: visible;
    padding: 0;
    width: 970px;
}

.menu{
    align-items: center;
    }

.menu-item {
    margin-right: 3srem;
}

.menu-right {
    /*margin-left: 8rem;*/
    margin-left: 15em;
}

}

@media screen and (min-width: 1170px){
.menu__right[data-v-58253bf8] {
    margin-left: 11rem;
}
}

@media screen and (min-width: 970px) {}
.hero-content h1 {
    margin-bottom: 20px;
}

@media screen and (min-width: 970px) {
.hero-content .animation-row .-line, .hero-content .animation-row-title {
    margin-left: -3.5rem;
    padding-left: 3.5rem;
}
}

.hero-content .animation-row .-line:before {
    left: 0;
}

.hero-description{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Gilam Book",sans-serif;
    font-size: 16px;
    color: white;
}

.btn{
    align-items: center;
    color: #000;
    display: inline-flex;
    font-family: "Gilam SemiBold";
    font-size: 15px;
    height: 34px;
    margin-top: 30px;
    padding-left: 40px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.btn:hover{
    color: black;
}



.btn:hover:after {
    background-color: #ffe177;
    width: 75px
}

.btn.--large:hover .btn-stroke {
    width:20px
}

.btn.--large:hover:after {
    width: 100%;
}

.btn::after {
    background-color: rgba(39,39,39,.15);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: width .3s ease,background-color .3s ease;
    width: 55px;
    z-index: -1;
}

.animation-row span{
    translate: none; rotate: none; scale: none; transform: translate(0px, 0%) rotate(0.001deg);
    display: block;
    position: relative;
}


.btn.--large{
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    height: 50px;
    padding-left: 0;
    position: relative;
}



.btn.--large .btn-stroke {
    background-color: #ffffff;
    height: 1px;
    left: 20px;
    position: absolute;
    transition: width .3s ease;
    width: 0;
}

.btn.--large .btn-label {
    display: inline-block;
    margin-right: 65px;
    padding-left: 30px;
    transition: transform .3s ease;
    white-space: nowrap;
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn.--large::after {
    background-color: var(--hover-color);
    opacity: 1;
    transition: width .3s ease;
    width: 9px;
}

.btn.--large:hover .btn-label {
    transform:translateX(2rem);
}

@media screen and (min-width: 1452px){
.btn.--large {
    height: 50px;
}
}


@media screen and (min-width: 970px) {
.hero-content .btn {
    margin-top: 20px;
}

.btn.--large .btn-stroke {
    left: 2rem;
}

.btn.--large .btn-label {
    margin-right: 6.5rem;
    padding-left: 3rem;
}



}

.social{
    display: none;
}

.social__label {
    color: hsla(0,0%,100%,.45);
    display: inline-block;
    font-family: "Gilam SemiBold",sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: rotate(-90deg) translateX(-150px);
    transform-origin: 0 0;
    transition: transform .3s ease;
}

/* Social menu*/
@media screen and (min-width: 970px) {
.social {
    bottom: 6rem;
    display: inline-block;
    left: 0;
    position: absolute;
    z-index: 10;
}
}


.games .container{
    display: flex;
    /*flex-direction: column;*/
}

.container{
    overflow-x: hidden;
}


.hero .container{
    background: transparent;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 1452px) {
.container {
    width: 1452px;
}


.social__label {
    font-size: 11px;
}
}


@media screen and (min-width: 1452px) {
body {
    font-size: 18px;
}
}


.social__wrap{
    overflow: hidden
}

.social__trigger{
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    height: 22px;
    justify-content: center;
    padding: 0;
    width: 22px;
    background-color: transparent;
}

.social.opened .social__label{
    transform: rotate(-90deg) translateX(0);
}

.social.opened .social-channels{
    transform: translateY(0);
}

.social-channels{
    display: flex;
    flex-direction: column;
    transform: translateY(150px);
    transition: transform .3s ease
}

.social-channels__item{
    align-items: center;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 0 0 15px;
    width: 22px;
    z-index: 2;
}

.social-channels__item:last-child {
    margin: 0 0 5px
}

.social-channels__link {
    display: inline-block
}

.social-channels__link svg {
    max-width: 100%
}

.social-channels__link svg path {
    opacity: .65;
    transition: opacity .3s ease
}

.social-channels__link svg:hover path {
    opacity: 1
}



/**********************************/
/*** GAMES SECTION ***************/

.nav__button {
    background: var(--hover-color);
    border: none;
    cursor: pointer;
    height: 65px;
    transition: background .3s ease;
    width: 65px;
}


.games {
    margin-bottom: 20px;
    overflow: hidden;
}

.games-info {
    display: flex;
    height: 610px;
    position: relative
}

.games-header.active {
    opacity: 1;
    pointer-events: auto;
}

.games-header {
    left: 0;
    opacity: 0;
    padding: 50px 0 40px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.games-header p {
    margin: 0
}

p{
    color: black;
}

h2{
    color: black;
}

.games-header .btn {
    margin-top: 20px
}

.animation-row {
    overflow: hidden
}

.animation-row,.animation-row>span {
    display: block;
    position: relative
}

.games-platforms {
    align-self: flex-end;
    background: #272727;
    flex-shrink: 0;
    min-height: 195px;
    padding: 30px 40px 0;
    position: relative
}

.games-platforms,.games-platforms:before {
    margin-left: -40px;
    width: calc(100% + 80px)
}

.games-platforms:before {
    background: rgba(39,39,39,.15);
    content: "";
    height: 1px;
    position: absolute;
    top: 0
}

@media screen and (min-width: 970px) {
    .games-platforms:before {
        margin-left:0;
        width: 100%
    }

    
}

.games-platforms__wrap {
    position: relative
}

.games-platforms__label {
    color: #9d9d9d
}

.platforms {
    left: 0;
    margin-top: 30px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.platforms .animation-row span {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center
}

.platforms.active {
    opacity: 1;
    pointer-events: auto
}

.platform {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-family: "Gilam SemiBold",sans-serif;
    font-size: 16px;
    opacity: .5;
    text-transform: uppercase;
    transition: opacity .3s ease
}

@media screen and (min-width: 970px) {
    .platform {
        font-size:12px
    }
}

@media screen and (min-width: 1170px) {
    .platform {
        font-size:14px
    }
}

@media screen and (min-width: 1452px) {
    .platform {
        font-size:16px
    }
}

.platform svg {
    margin: 0 12px 6px 0
}

.platform:hover {
    opacity: 1
}

.platform:hover svg path {
    opacity: 1
}

.games-slider {
    display: flex;
    flex-direction: column;
    height: 633px;
    justify-content: space-between;
    margin-left: -40px;
    position: relative;
    width: calc(100% + 80px);
    z-index: 1
}

@media screen and (min-width: 970px) {
    .games-slider {
        margin-left:0;
        width: 100%
    }
}

.games-slider__cover {
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    height: 440px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .5s ease;
    width: 100%;
    z-index: -1
}

.games-slider__cover:before {
    background: rgba(39,39,39,.3);
    background-image: linear-gradient(0deg,rgba(39,39,39,0) 42%,#272727 100%,#272727 0);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%
}

.games-slider__cover.active {
    opacity: 1
}

.slider {
    height: 387px;
    margin-top: 10px
}

.slider__slide {
    height: 100%;
    width: 270px
}

.slider__slide.is-selected {
    height: 24.5rem;
    width: 17.3rem;
}

.slider__slide.is-selected  img{
    object-fit: cover;
}


.slider__slide.is-selected .slider__image {
    transform: scale(1)
}

.slider__slide.is-selected .slider__image:before {
    opacity: 0
}

.slider__image {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    position: relative;
    transform: scale(.74);
    transition: transform .3s ease;
    width: 100%
}

.slider__image:before {
    background: rgba(0,0,0,.5);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: opacity .3s ease;
    width: 100%
}

.disabled {
    pointer-events: none
}
button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

 .nav {
    align-self: flex-end
}

.nav{
    /*align-self: flex-start;*/
    display: flex;
    position: relative;
    z-index: 1;
}

.nav:before {
    background: rgba(0,0,0,.4);
    left: 50%;
    opacity: .4;
    pointer-events: none;
    width: 1px;
    z-index: 1
}

.nav:after, .nav:before {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
}

.nav:after{
    background: var(--hover-color);
    pointer-events: none;
    right: 0;
    width: 227px;
    z-index: -1;
}

.nav:after, .nav:before {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
}

@media screen and (min-width: 970px){
.games-header.active {
    display: flex;
}

.games-header {
    flex-direction: column;
    height: 75%;
    justify-content: center;
    padding: 0 25px 0 25px;
    /*padding: 0 25rem 0 7rem;*/
}


.games-info,.games .container{
    display:flex
}



.games-info {
    flex-direction: column;
    flex-shrink: 0;
    height: 38rem;
    width: 47rem
}

.games-platforms {
    margin: auto 0 0;
    padding: 3rem 7rem;
    width: 100%
}

.games-platforms:before {
    left: 0
}

.platforms {
    justify-content: flex-start;
    margin-top: 3rem
}

.platforms .animation-row span {
    gap: 3rem;
    justify-content: flex-start
}

.platform img {
    height: 2rem;
    margin-right: 1.2rem;
    width: auto
}


.games-slider {
    flex-grow: 1;
    height: 38rem;
}

.games-slider__cover {
    height: 100%
}

.games-slider__cover:before {
    background-image: linear-gradient(270deg,rgba(39,39,39,0) 25%,#272727 100%,#272727 0)
}

.slider {
    height: 25rem;
    margin-left: -9rem;
    margin-top: 6rem;
    width: 43rem;
}

.slider__slide {
    width: 17.5rem

}

}




svg{
    height: 22px;
    width: auto
}

li {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

article, aside, footer, header, nav, section {
    display: block;
}

button, select {
    text-transform: none;
}






/******* FONTS ******/
@font-face{
    font-family: "Gilam SemiBold";
    src: url("./assets/fonts/Gilam-Trial-SemiBold.ttf") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"Gilam Book";
    src: url("./assets/fonts/Gilam-Trial-Book.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Gilam Bold";
    src: url("./assets/fonts/Gilam-Trial-Bold.ttf") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;

}




@media screen and (min-width: 1452px) {
.container {
    width: 1452px;
}

}

#app, .container {
    position: relative;
}


.flickity-viewport {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.games .flickity-viewport {
    touch-action: pan-y;
}

.games .flickity-slider{
    left: 0px;
    transform: translateX(0%);
}
.flickity-slider {
    height: 100%;
    position: absolute;
    width: 100%;
}

#zero-slide{
    position: absolute;
    left: 0px;
    transform: translateX(0%);
}

#first-slide{
    position: absolute;
    left: 0px;
    transform: translateX(100%);
}

#second-slide{
    position: absolute;
    left: 0px;
    transform: translateX(200%);
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    cursor: default;
}